.lists
  display flex
  margin 5rem auto
  flex-direction column
  align-items flex-start
  justify-content flex-start
  width 100%
  &__grid
    display grid
    width 100%
    margin 1rem 0
  &__buttons
    margin-bottom 1rem
    display flex
    align-items center

  &__btn
    background #fff
    color TEXT_COLOR
    padding 1rem 2rem
    display flex
    align-items center
    border-radius .5rem
    transition all .2s ease-out
    cursor pointer
    span
      &:first-child
        font-size 1.3rem
      &:last-child
        font-size 1.6rem
        margin-left 1rem
      
    &:active
      transform scale(0.95)

.list
  width 90%
  background #fff
  min-height 20rem
  overflow hidden
  border-radius 1rem
  box-shadow 0 0 2rem rgba(#000, 0.1)
  &__control
    span
      font-size 1.6rem

  &__controls
    display flex
    align-items center
    justify-content space-between
    padding 3rem 1rem
    background #fff
    height 4.5rem
    box-shadow 0 0 1rem rgba(#000, 0.1)
    &--right
      display flex
      align-items center
      justify-content flex-end
      button
        background transparent
        transition all .2s ease-out
        padding .7rem
        border-radius .5rem
        cursor pointer
        &:hover 
          background #eee
        &:active
          transform scale(0.9)
        i
          font-size 1.8rem
  &__name
    font-size 2.2rem
    border solid .2rem transparent
    padding .5rem .5rem
    border-radius .5rem
    transition all .2s ease-out
    font-weight bold
    width 100%
    color TEXT_COLOR
    &:disabled
      background transparent
      color TEXT_COLOR
    &--enabled
      border-bottom solid 2px SECONDARY_COLOR

  &__items
    display flex
    align-items center
    flex-direction column
  &__item
    width 92%
    margin 1rem
    &__controls
      display flex
      align-items center
      justify-content space-between
      font-size 1.8rem
      color TEXT_COLOR
    &__title
      font-size 1.6rem
    &__description
      font-size 1.2rem
      color rgba(#000, 0.5)
      margin 1rem auto
      width 100%
      resize none
    &__btn
      background transparent
      padding .5rem .8rem
      cursor pointer
      border-radius .5rem
      transition all .2s ease-out
      &:hover
        background #eee
      &:active
        transform scale(0.9)