@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Roboto:wght@100;300;400;700&display=swap')
@import './stylus/base.styl'
@import './stylus/global.styl'
@import './stylus/landing.styl'
@import './stylus/list.styl'